#test {
    color: green;
    @apply text-4xl;
}

#id_author, #id_content {
    outline: 1px solid black;
    @apply mb-4 px-2 rounded;
    display: block;
}

.button {
    @apply bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600;
}